@{
    ViewData["Title"] = "Contact";
}
<!-- contact -->
<section class="section bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="section-title">Contact Us</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-7 mb-4 mb-lg-0">
                <form action="https://formsubmit.co/hazemsalameh.99@hotmail.com" method="post">
                    <input type="text" class="form-control mb-3" id="name" name="name" placeholder="Your Name">
                    <input type="email" class="form-control mb-3" id="mail" name="mail" placeholder="Your Email">
                    <input type="text" class="form-control mb-3" id="subject" name="subject" placeholder="Subject">
                    <textarea name="message" id="message" class="form-control mb-3" placeholder="Your Message"></textarea>
                    <button type="submit" value="send" class="btn btn-primary">SEND MESSAGE</button>
                </form>
            </div>
            <div class="col-lg-5">
                <p class="mb-2">Contact Us by: </p>
                <a href="tel:+9621657266" class="text-color h5 d-block">+962 78 165 7266</a>
                <p class="mb-2">Contact Us by: </p>
                <a href="mailto:hazemsalameh.99@hotmail.com" class="mb-5 text-color h5 d-block">hazemsalameh.99@hotmail.com</a>
            </div>
        </div>
    </div>
</section>
<!-- /contact -->