@model Choose_Teacher.Models.Certification

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Dashboard/Views/Shared/_DashboardLayout.cshtml";
}

<h4>Edit Certification</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="CertificationId" />
            <div class="form-group">
                <label asp-for="CertificationName" class="control-label"></label>
                <input asp-for="CertificationName" class="form-control" />
                <span asp-validation-for="CertificationName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IssuingAuthority" class="control-label"></label>
                <input asp-for="IssuingAuthority" class="form-control" />
                <span asp-validation-for="IssuingAuthority" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IssueDate" class="control-label"></label>
                <input asp-for="IssueDate" class="form-control" />
                <span asp-validation-for="IssueDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

