@model Booking
@{
    ViewData["Title"] = "Booking Teacher";
}

<h1>Book @Model.Teacher.TeacherName</h1>
<form asp-action="Book" asp-controller="Bookings" method="post">
    <div>
        <label asp-for="BookingDate">Booking Date:</label>
        <input type="date" asp-for="BookingDate" />
    </div>
    <input asp-for="TeacherId" hidden />
    <br />
    <div>
        <label asp-for="StartTime">From Hour:</label>
        <input type="time" asp-for="StartTime" />
    </div>
    <br />
    <div>
        <label asp-for="EndTime">TO Hour:</label>
        <input type="time" asp-for="EndTime" />
    </div>
    <!-- Add other form fields as needed -->
    <p><span class="text-secondary">@TempData["Price"]</span></p>

    <input type="submit" value="Book Now" />
</form>

@* <script>
    $(document).ready(function () {
        // Assuming you're using jQuery
        $('#bookingForm').submit(function (e) {
            e.preventDefault();

            // Your AJAX request to the server
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Book", "YourController")',
                data: $(this).serialize(),
                success: function (result) {
                    if (result.success) {
                        // Show a success message using SweetAlert
                        Swal.fire({
                            icon: 'success',
                            title: 'Booking successful!',
                            text: 'Your booking has been successfully submitted.',
                            confirmButtonText: 'OK'
                        }).then(function () {
                            // Redirect to another page after the user clicks OK
                            window.location.href = '@Url.Action("BookingConfirmation", "YourController")';
                        });
                    } else {
                        // Show an error message
                        Swal.fire({
                            icon: 'error',
                            title: 'Error',
                            text: result.message
                        });
                    }
                },
                error: function () {
                    // Handle AJAX error
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: 'An error occurred. Please try again.'
                    });
                }
            });
        });
    });
</script> *@